.container {
    width: 900px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 2px solid red;
    background-color: rgb(238, 231, 231);
}

.conteudo {
    text-align: center;
    margin-top: 15%;
    font-size: 40px;
}


.conteiner {
    width: 800px;
    margin: auto;
    position: relative;
}

.conteiner img {
    width: 100%;
    padding-top: 18%;
}

.inicio {
    background-color: rgb(8, 100, 8);
    color: seashell;
    position: absolute;
    top: 80%;
    left: 40%;
    text-align: center;
    padding: 10px;
}

.pagina2 {
    background-color: rgb(8, 100, 8);
    color: seashell;
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    padding: 10px;
}
a {
    color: seashell;
    text-decoration: none;
}
